<!DOCTYPE html>
<html lang="en">
    <style>
        fieldset{
            background-color: #f1f1f1;
            border: none;
            border-radius: 2px;
            margin-bottom: 12px;
            overflow: hidden;
            padding: 0 .625em;
        }

        label{
            cursor: pointer;
            display: inline-block;
            padding: 3px 6px;
            text-align: left;
            width: 420px;
            vertical-align: top;
        }

        input{
            font-size: inherit;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h1 style="background-color: antiquewhite;color: black;">自动生成性能规格、代码</h1>
    <h2 style="...">需要生成的性能</h2>
        <form action="/index/" method="post">{% csrf_token %}
            <label>性能表名</label>
            <input type="text" name="requestPerTabelName"/>
            <br />
            <label>PerObjTypeList 表ID</label>
            <input type="text" name="requestPerObjTypeListId"/>
            <br />
            <label>LPerFb 表ID</label>
            <input type="text" name="requestPerFbId"/>
            <br />
            <label>性能名称（可输入多个）</label>
            <input type="text" name="requestPerName"/>
            <br />
            <label>性能ID(LPerId)（可输入多个或范围）</label>
            <input type="text" name="requestPerId"/>
            <br />
            <label>设备使用的性能ID（LPerPrimId）（可输入多个或范围）</label>
            <input type="text" name="requestPrimId"/>
            <br />
            <input type="submit" value="提交"/>
        </form>
    <hr />
    <h2 style="...">生成结果</h2>
        <table border="1">
        <caption>{{ tableName }}</caption>
            <thead>
                <th>需要添加的性能</th>
                <th>对应的性能码</th>
                <th>设备使用的性能码</th>
            </thead>
            <tbody>
                {% for line in data %}
                    <tr>
                        <td>{{ line.name }}</td>
                        <td>{{ line.id }}</td>
                        <td>{{ line.primId }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <label>LPerId.V0.td</label>
    <br>
    <textarea rows="20" cols="200">{{ LperIdTd }}</textarea>
    <br>
    <label>PerIdUint.V0.td</label>
    <br>
    <textarea rows="20" cols="200">{{ PerIdUnitTd }}</textarea>
    <br>
    <label>LPerPrimId.V0.td</label>
    <br>
    <textarea rows="20" cols="200">{{ LPerPrimIdTd }}</textarea>
    <br>
    <label>{{ PerXXXCurTd.name }}.VX.td</label>
    <br>
    <textarea rows="20" cols="200">{{ PerXXXCurTd.data }}</textarea>
    <br>
    <label>{{ PerXXXHisTd.name }}.VX.td</label>
    <br>
    <textarea rows="20" cols="200">{{ PerXXXHisTd.data }}</textarea>
    <br>
    <label>ne_base_.ort.xml</label>
    <br>
    <textarea rows="20" cols="200">{{ neBaseOtrXml }}</textarea>
    <br>
    <label>PerObjTypeList.V0.td</label>
    <br>
    <textarea rows="20" cols="200">{{ PerObjTypeList }}</textarea>
    <br>
    <label>DataTypeDef.V2.td</label>
    <br>
    <textarea rows="20" cols="200">{{ DataTypeDef }}</textarea>
    <br>
    <label>LDataType.V2.td</label>
    <br>
    <textarea rows="20" cols="200">{{ LDataType }}</textarea>
    <br>
    <label>LPerFb.V0.td</label>
    <br>
    <textarea rows="20" cols="200">{{ LPerFb }}</textarea>
    <br>
    <label>XXX.ws</label>
    <br>
    <textarea rows="3" cols="200">{{ XXXWs }}</textarea>
    <br>
    <label>per_tools.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ perToolsCpp }}</textarea>
    <br>
    <label>per_tools.h</label>
    <br>
    <textarea rows="20" cols="200">{{ perToolsH }}</textarea>
    <br>
    <label>tool_fid.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ toolFidCpp }}</textarea>
    <br>
    <label>MtnCmdDc.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ MtnCmdDcCpp }}</textarea>
    <br>
    <label>NESvcCfg_PerMonitorCfg.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ NESvcCfgPerMonitorCfgCpp }}</textarea>
    <br>
    <label>NeSvcCommData_decompose.cpp</label>
    <br>
    <textarea rows="13" cols="200">{{ NeSvcCommDataDecomposeCpp }}</textarea>
    <br>
    <label>NeSvcCommData_mtn.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ NeSvcCommDataMtnCpp }}</textarea>
    <br>
    <label>NeSvcCfg_LgCfgMng.cpp</label>
    <br>
    <textarea rows="13" cols="200">{{ NeSvcCfgLgCfgMngCpp }}</textarea>
    <br>
    <label>per_chss_helper.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ perChssHelperCpp }}</textarea>
    <br>
    <label>per_chss_mod.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ perChssModCpp }}</textarea>
    <br>
    <label>per_chss_mod.h</label>
    <br>
    <textarea rows="20" cols="200">{{ perChssModH }}</textarea>
    <br>
    <label>per_ne_mod.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ perNeModCpp }}</textarea>
    <br>
    <label>per_ne_mod.h</label>
    <br>
    <textarea rows="7" cols="200">{{ perNeModH }}</textarea>
    <br>
    <label>CMakeLists.txt</label>
    <br>
    <textarea rows="7" cols="200">{{ CMakeListsTxt }}</textarea>
    <br>
    <label>cli_api_alarmper.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ cliApiAlarmperCPP }}</textarea>
    <br>
    <label>cli_api_alarmper.h</label>
    <br>
    <textarea rows="20" cols="200">{{ cliApiAlarmperH }}</textarea>
    <br>
    <label>cli_cmd_moncmm.cpp</label>
    <br>
    <textarea rows="20" cols="200">{{ cliCmdMoncmmCpp }}</textarea>
    <br>
    <label>cli_cmd_sys.cpp</label>
    <br>
    <textarea rows="10" cols="200">{{ cliCmdSysCpp }}</textarea>
    <br>
    <label>card_opxx_hw.cpp (//TODO:opxx替换成实际单盘)</label>
    <br>
    <textarea rows="20" cols="200">{{ cardOpxxHwCpp }}</textarea>
    <br>
    <label>card_opxx_hw.h (//TODO:opxx替换成实际单盘)</label>
    <br>
    <textarea rows="20" cols="200">{{ cardOpxxHwH }}</textarea>
    <br>
    <label>card_ethernet_phy.cpp</label>
    <br>
    <textarea rows="7" cols="200">{{ cardEthernetPhyCpp }}</textarea>
    <br>
    <label>card_opxx_phy.cpp</label>
    <br>
    <textarea rows="7" cols="200">{{ cardOpxxPhyCpp }}</textarea>
    <br>


    <script src="/static/js/jquery-1.12.4.js"></script>
</body>
</html>